<!--投稿削除完了の際のフラッシュメッセージ表示-->
<p class="flash-text"><%= flash[:notion] %></p>

<!--投稿一覧機能-->
<h1 class="index-header">Books</h1>


<table>
  <thead>
  <tr>
    <th>Title</th><th>Body</th><th colspan="3"></th>
  </tr>
  </thead>
  
   <% @books.reverse_each do |book| %>

    <tr>
     <td><%= book.title %></td>
     <td><%= book.body %></td>
     <td><%= link_to "Show", book_path(book.id) %></td>
     <td><%= link_to "Edit", book_edit_path(book.id) %></td>
     <td><%= link_to "Destroy", book_destroy_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    </tr>
   <% end %>

</table>


<!--新規投稿機能-->
<h2 class="create-header">New books</h2>

<% if @book.errors.any? %>
 <div class="errors-section">
  <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
  <ul>
   <% @book.errors.full_messages.each do |messages| %>
   <li><%= messages %></li>
   <% end %>
  </ul> 
 </div>
<% end %>

<%= form_with model: @book do |f| %>
<% if !@book.errors.any? %>
<div class="field">
 <div class="field-header">
  <label>Title</label>
 </div>
 <div class="field-text">
   <%= f.text_field:title %>
 </div>
</div>
 <div class="field">
  <div class="field-header">
   <label>Body</label>
  </div>
  <div class="field-text">
   <%= f.text_area:body %>
  </div>
</div>
 <% else %>
 <div class="field">
 <div class="field-error-header">
  <label>Title</label>
 </div>
 <div class="field-error-text">
   <%= f.text_field:title %>
 </div>
</div>

 <div class="field">
  <div class="field-error-header">
   <label>Body</label>
  </div>
  <div class="field-error-text">
   <%= f.text_area:body %>
  </div>
</div>
<% end %>
 <div class="submit">
  <%= f.submit 'Create book' %>
 </div>
 
<% end %>

