<!--投稿・編集完了の際のフラッシュメッセージ表示-->
<p class="flash-text"><%= flash[:notion] %></p>

<p><strong>Title:</strong>
  <%= @book.title %>
</p>
<p><strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to "Edit", book_edit_path(@book.id) %> |
<%= link_to "Back", '/books' %>
